:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 1.5rem;
	font-weight: 600;

	margin: 0;
	display: block;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
}

#canvas {
	display: block;
	width: 100%;
	height: 100%;
}

.split {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;

	#view1 {
		width: 100%;
		height: 100%;
	}

	#view2 {
		width: 250px;
		height: 180px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
