:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 1.5rem;
	font-weight: 600;

	margin: 0;
	display: block;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
}
